cmake
easydict
numpy
numba
opencv-python-headless
scipy
scikit-image
tqdm
PyYAML
open3d
cython
tensorboardX
shapely
einops
timm
icecream
h5py
pyquaternion
efficientnet_pytorch
scikit_learn
python-lzf
termcolor
git+https://github.com/klintan/pypcd.git
